{{# each pet}}
<div class="row">
  {{# each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.urlimg}}" alt="..." class="img-responsive img-thumbnail">
      <div class="caption">
        <h3>{{this.name}}</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id turpis a enim rutrum fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id pulvinar sapien. Morbi finibus tellus nec malesuada varius. Duis sed libero sollicitudin, viverra lacus quis, rutrum ipsum. Vivamus laoreet lectus nec libero accumsan faucibus.</p>
        <ul class="list-group">
          <li class="list-group-item"> <span class="badge">{{this.numbervacuns}}</span><bold>Cantidad Vacunas</bold> </li>
          <li class="list-group-item"> <span class="badge">{{this.age}} años</span><bold>Edad </bold> </li>
          <li class="list-group-item"> <span class="badge">{{this.sex}}</span><bold>Sexo</bold> </li>
        </ul>
        <div class="clearfix">
          <div class="price">
          </div>
          <a href="/add-to-user/{{this._id}}" class="btn btn-success pull-right" role="button">Adoptar</a></p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
<!--Row Start Here, 3 cols of 4 dimensions-->